.login100-form-title {
    font-family: Montserrat-ExtraBold;
    font-size: 24px;
    color: #fff;
    line-height: 1.2;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    display: block;
  }

  .inputform {
    font-family: Montserrat-Bold;
    font-size: 15px;
    line-height: 1.2;
    color: #333333;
  
    display: block;
    width: 100%;
    background: #fff;
    height: 50px;
    border-radius: 25px;
    padding: 0 30px 0 53px;
  }

 .bg-gradient-box
{
    background: linear-gradient(87deg, #0049B8  0, #17D2DC  100%) !important;
}
  
  